*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(white,gray);
    background-repeat: repeat-x;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color: white;
}

section{
    display: flex;
    flex-direction: row;
    margin-left: ;
    margin-right: ;

}

button{
    background-color: #666;
    border: none;
    font-size: x-large;
    font-family: Courier;
    color: white;
}